h1 {color: rgb(255, 251, 0);}

*{
    border: none
}
.Header{
background-color:rgb(155, 21, 21);
text-align: center;
}

.Description{
display:flex;
flex-wrap: wrap;
justify-content: space-evenly;
}